@model BSIT3L_Movies.Models.MovieViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>
</head>
<body>
    <div id="shell">
    <div id="header">
        <div class="social">
            <span>FOLLOW US ON:</span>
            <ul>
                <li><a class="twitter" href="https://twitter.com/home">twitter</a></li>
                <li><a class="facebook" href="https://www.facebook.com/">facebook</a></li>
            </ul>
        </div>
        <div id="sub-navigation">
            <h1>MOVIE DETAILS</h1>
        </div>
        <div id="main">
            <div id="content">
                <div class="box">
                    <div class="head">
                        <h2></h2>
                    </div></div>
                        <div class="rating">
                            <p>BIRD BOX</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments1">After a mysterious force decimates the world's population, Sebastian must navigate his own survival journey through the desolate streets of Barcelona.</span>
                        </div>
                    </div>  
                        <div class="rating">
                            <p>BALLERINA</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                    <span class="comments1">In the 1880s, eleven-year-old Félicie (Elle Fanning), a poor orphan girl who dreams of becoming a ballerina, but lacks formal training, runs away from her orphanage in rural Brittany with her best friend, Victor (Dane DeHaan), a young inventor.</span>
                        </div>
                    </div>
                        <div class="rating">
                            <p>SPIDER MAN 3</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                <span class="comments1">A strange black entity from another world bonds with Peter Parker and causes inner turmoil as he contends with new villains, temptations, and revenge.</span>
                        </div>
                    </div>
                        <div class="rating">
                            <p>JOHN WICK 4 </p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
            <span class="comments1">In New York City, John Wick prepares to exact vengeance against the High Table while hiding underground with the Bowery King. He travels to Morocco and kills the Elder, the "one who sits above the Table".</span>
                        </div>
                    </div>
                        <div class="rating">
                            <p>NOWHERE</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
        <span class="comments1">Pregnant, alone and drifting in the sea, a woman trapped in a shipping container tries to survive after fleeing a devastated totalitarian country.</span>
                        </div>
                        <div class="rating">
                            <p>THE NUN II</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
        <span class="comments1">1956 -- France. A priest is murdered. An evil is spreading. The sequel to the worldwide smash hit follows Sister Irene as she once again comes face-to-face with Valak, the demon nun.</span>
    </div>
    <div id="coming">
        <p class="text-right"><a href="https://www.imdb.com/search/title/?title_type=feature&year=2023-01-01,2023-12-31">Read More..</a></p>
    </div>
    <div class="cl">&nbsp;</div>
    <div id="footer">
        <p class="lf">Copyright &copy; 2023 <a href="#">Justimbaste</a> - All Rights Reserved</p>
        <div style="clear:both;"></div>
    </div>
    </div>
</body>
</html>
