<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>
</head>
<body>
    <div id="shell">
        <div id="header">
            <div class="social">
                <span>FOLLOW US ON:</span>
                <ul>
                    <li><a class="twitter" href="https://twitter.com/home">twitter</a></li>
                    <li><a class="facebook" href="https://www.facebook.com/">facebook</a></li>
                </ul>
            </div>         
            <div id="sub-navigation">
                <h1>UNLOCK THE MAGIC OF MOVIES</h1>
            </div>
        <div id="main">
            <div id="content">
                <div class="box">
                    <div class="head">
                        <h2></h2>
                            <p class="text-right"><a href="@Url.Action("Movies", "Movies")">Movie Details</a></p>
                    </div>          
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">BIRD BOX</span></span> <a href="https://www.youtube.com/watch?v=lT4EY1i6ZDs"><img src="css/images/movie.1.jpg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">10</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image"> <span class="play"><span class="name">BALLERINA</span></span> <a href="https://www.youtube.com/watch?v=IhXfUTGVEUI"><img src="css/images/movie.2.jpg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">50</span>
                        </div>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">SPIDER MAN 3</span></span> <a href="https://www.youtube.com/watch?v=e5wUilOeOmg"><img src="css/images/movie3.jpg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">20</span>
                        </div>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">JOHN WICK 4</span></span> <a href="https://www.youtube.com/watch?v=Tsn6bBtUaLI"><img src="css/images/movie.3.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">32</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image"> <span class="play"><span class="name">NOWHERE</span></span> <a href="https://www.youtube.com/watch?v=KDUtdcU10YA"><img src="css/images/movie.4.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="movie last">
                            <div class="movie-image"> <span class="play"><span class="name">THE NUN II</span></span> <a href="https://www.youtube.com/watch?v=QF-oyCwaArU"><img src="css/images/movies.5.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="cl">&nbsp;</div>
                </div>
                <div class="box">
                    <div class="head">
                        <h2>LATEST MOVIES</h2>
                            <p class="text-right"><a href="/Movies"></a></p>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">AQUAMAN 2</span></span> <a href="https://www.youtube.com/watch?v=_AqlTRg2IY8"><img src="css/images/movie.6.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">HEART OF STONE</span></span> <a href="#"><img src="css/images/mov1.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">THE POPE'S EXORCIST</span></span> <a href="https://www.youtube.com/watch?v=YJXqvnT_rsk"><img src="css/images/movie.7.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                    <div class="stars-in">THE POPE'S EXORCIST</div>
                            </div>
                            <span class="comments">5</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image"> <span class="play"><span class="name">EXTRACTION 2</span></span> <a href="#"><img src="css/images/mov2.jpg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="movie">
                        <div class="movie-image"> <span class="play"><span class="name">KILL BOKSOON</span></span> <a href="#"><img src="css/images/mov3.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">14</span>
                        </div>
                    </div>
                    <div class="movie last">
                            <div class="movie-image"> <span class="play"><span class="name">HUNGER</span></span> <a href="#"><img src="css/images/mov4.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                    <div class="cl">&nbsp;</div>
                </div>
                <div class="box">
                    <div class="head">
                            <h2>TOP RATED MOVIES</h2>
                            <p class="text-right"><a href="/Movies"></a></p>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">EVIL DEAD RISE</span></span> <a href="#"><img src="css/images/mov5.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">29</span>
                        </div>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">INSIDOUS</span></span> <a href="#"><img src="css/images/mov6.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">10</span>
                        </div>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">BARBIE</span></span> <a href="#"><img src="css/images/mov7.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">65</span>
                        </div>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">JUNG_E</span></span> <a href="#"><img src="css/images/mov8.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">48</span>
                        </div>
                    </div>
                    <div class="movie">
                            <div class="movie-image"> <span class="play"><span class="name">UNLOCKED</span></span> <a href="#"><img src="css/images/mov9.jpeg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">25</span>
                        </div>
                    </div>
                    <div class="movie last">
                            <div class="movie-image"> <span class="play"><span class="name">DELETER</span></span> <a href="#"><img src="css/images/mov10.jpg" alt="" /></a> </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"> </div>
                            </div>
                            <span class="comments">55</span>
                        </div>
                    </div>
                    <div class="cl">&nbsp;</div>
                </div>
            </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div id="footer">
            <p class="lf">Copyright &copy; 2023 <a href="#">Justimbaste</a> - All Rights Reserved</p>
            <div style="clear:both;"></div>
        </div>
    </div>
</body>
</html>